/*These colors might be off: I'm red/green colorblind, not extremely but badly enough I routinely misread shades of all colors.
I pulled these colors from my desktop background, which has a palette I really like, but I don't have anyone
around right now to tell me if I've misinterpretted them or how they're rendered through the color values below.
I just wanted to tell you in case something, maybe, doesn't make sense or clashes horribly.*/

/*Style for Navbar*/
.navbar{
    background: #849ac0;
}

/*Page Background*/
body{
    padding-top: 65px;
    background-color: #e5e5ed;
}

/*Universal style for page bodies*/
main{
    margin-top: 30px;
    max-width: 700px;
    background-color: ghostwhite;
}

/*Style for page headers*/
.head{
    border-bottom-style: solid;
    border-width: thin;
    background-color: #afbee1;
}

.head h2{
    vertical-align: middle;
}

/*Style for the About Me card, distinct from Portfolio cards*/
#bio{
    
    margin-top: 10px;
}

#bio .card{
    background-color: ghostwhite;

}

/*Style for Contact page*/
#con{
    margin-top: 10px;
    padding-bottom: 10px;
}

/*Style for Portoflio Page*/
.card-link{
    text-decoration: underline;
    color: black;
}

.card-footer{
    background-color: #d3e4fb;
}

/*Reduces padding between body/navbar for cleaner design on mobile*/
@media only screen and (max-width: 600px) {
    body {
      padding-top: 40px;
    }
  }